footer {
  text-align: center;
  font-size: 01em;
  color: #d3d3d3;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer-button {
  text-align: center;
  border-radius: 1em;
  /* todo implement this css so the buttons arent mashed together. */
}