.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: underline dotted;

}

.footer-button {
  text-align: center;
  border-radius: 1em;
  margin: 10px 10px 30px 10px;
  padding: 7px;
  background-color: #9ccfd8;
  border-color: #9ccfd8;
  transition: all 0.3s ease;
}

.footer-button:hover{
  scale: 1.4;
}
