/* Container for the entire section */
.project {
  margin-bottom: 20px;
}
.projects-section {
     display: flex;
     align-items: center; /* Vertically center the heading */
     justify-content: space-between;
     padding: 0px;
   }
   
   /* Styling for the "Projects" heading */
   .projects-heading {
     flex-shrink: 0; /* Prevent the heading from shrinking */
     font-size: 2rem;
     font-weight: bold;
     margin-right: 20px; /* Space between the heading and the content */
   }
   
   /* Styling for the project content */
   .project-content {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap; /* Ensure items wrap on smaller screens */
     gap: 0px;
     flex-grow: 1;
   }
   
   .project-box {
     width: 50%; /* Adjust the width to fit two columns */
   }
   
   .project-box h3 {
     font-size: 1.5rem;
     margin-bottom: 10px;
     font-weight: bold;
   }
   
   .project-box p {
     font-size: 1rem;
     line-height: 1.;
     margin: 10px;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 5px;
     background-color: #f9f9f9;
   }
   
   /* Style for the first p tag in each project box */
   .project-box p:first-of-type {
     font-weight: bold;
     color: #2c3e50;
     margin-bottom: 10px; /* Adjust spacing if needed */
   }
   
   /* Optional: Style for the subsequent p tags */
   .project-box p:not(:first-of-type) {
     color: #7f8c8d;
   }